@media only screen and (min-width: 768px) {
  .container {
    margin-top: 4rem;
    border-radius: 15px;
    background-color: #fbc100;

    margin-left: 2rem;
    margin-right: 2rem;

    .header {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      height: 90px;

      border-top-left-radius : 15px;
      border-top-right-radius: 15px;

      .abreAspasContainer {
        margin-left: 2rem;
      }
    }

    .body {
      display: flex;

      align-items: center;
      justify-content: center;
      height: 200px;

      h2 {
        color: #26417e;
        font-family: Montserrat;
        font-size: 19px;

        letter-spacing: normal;
        line-height: 29.17px;
        text-align: center;
        text-transform: uppercase;

      }
    }

    .footer {
      height: 90px;

      display: flex;
      align-items: center;
      justify-content: flex-end;

      border-bottom-left-radius: 15px;
      border-bottom-right-radius: 15px;

      .fechaAspasContainer {
        margin-right: 2rem;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .container {
    margin-top: 4rem;
    border-radius: 15px;
    background-color: #fbc100;

    margin-left: 2rem;
    margin-right: 2rem;

    .header {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      height: 90px;

      border-top-left-radius : 15px;
      border-top-right-radius: 15px;

      .abreAspasContainer {
        margin-left: 2rem;
      }
    }

    .body {
      display: flex;

      align-items: center;
      justify-content: center;
      height: 200px;

      h2 {
        /* Style for "Fui direto" */
        width: 655px;
        height: 189px;
        color: #26417e;
        font-family: Now;
        font-size: 34px;
        font-weight: 700;
        font-style: normal;
        letter-spacing: normal;
        line-height: 40.39px;
        text-align: center;
        text-transform: uppercase;
        /* Text style for "F, ui dire" */
        font-style: normal;
        letter-spacing: normal;
        line-height: normal;

      }
    }

    .footer {
      height: 90px;

      display: flex;
      align-items: center;
      justify-content: flex-end;

      border-bottom-left-radius: 15px;
      border-bottom-right-radius: 15px;

      .fechaAspasContainer {
        margin-right: 2rem;
      }
    }
  }
}